# OSX
#
.DS_Store

# VScode
#
.vscode

# Xcode
#
build/
Index/

# Android/IntelliJ
#
android/build.gradle
android/gradle/wrapper/gradle-wrapper.properties
build/
.idea
.gradle
local.properties
*.iml

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# lock files
#
package-lock.json
yarn.lock

